@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --color-dkgreen : #003e29;
  --color-ltgreen : #ade6b9;
  --color-gray : #f3f3f3; 
}


* > * {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.tracker-container {
  background-color: var(--color-gray);
  text-align: center;
  padding: 4em 0;
}

.bg-dkgreen {
  background-color: var(--color-dkgreen);
}
.txt-dkgreen {
  color: var(--color-dkgreen);
}

.bg-ltgreen {
  background-color: var(--color-ltgreen);
}
.txt-ltgreen {
  color: var(--color-ltgreen);
}

.bg-gray {
  background-color: var(--color-gray);
}
.txt-gray {
  color: var(--color-gray);
}

.form-input {
  @apply mt-1 block w-full py-2 px-3 border border-gray-200 bg-white rounded-md focus:outline-none focus:ring-indigo-500 sm:text-sm;
}

.submit-btn {
  background-color: var(--color-dkgreen);
  color: var(--color-ltgreen);
}

.login-container {
  background-image: -webkit-linear-gradient(135deg, #003e29,#ade6b9);
 
}
